
/*
  ========================================
  body, header, wraper
  ========================================
*/

body {
    
    background-color: #999;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;


}

.wrapper {

    width: 960px;
    background-color: #fff;
    margin: 0 auto;
    border: 8px solid #00559d;
    padding: 20px;
    margin-top: 15%;
}


h1 {
    font-size: 24px;
    color: #0064b9;
    margin-bottom: 0;
}

.header {

    padding-left: 2%;
}
div.header p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 14px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    padding-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%;

}


input {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
    width: 80%;
    height: 30px;
    outline: none;
}

section.col-2-3 {
    border-right: 1px solid #d2d2d2;
}

button {
    width: 300px;
    border: none;
    background-color: #a6d0efc7;
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 13px;
    outline: none;
}
button:hover {
    background-color: #00559d;
    color: #fff;

}





/*
  ========================================
  Register
  ========================================
*/

.why-attend {
    list-style: square;
    margin: 0 0 22px 30px;
  }

  @media (max-width: 900px) {

  .grid {

    display: block;
    padding-left: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
  }

}

@media (max-width: 900px) {

input {
    width: 80%;
    height: 30px;
    outline: none;
    
}
}

@media (max-width: 900px) {

section.col-2-3 {
    border-right: none;
    margin-bottom: 10%;
}

}


@media (max-width: 900px) {
.wrapper {

    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    border: 8px solid #00559d;
    padding: 20px;
}
}

@media (max-width: 900px) {
button {
    width: 80%;
}
}